/*.main-wrapper {*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*padding-top: 50px;*/
/*}*/

/*.sidebar-container {*/
    /*height: 85%;*/
    /*position: fixed;*/
    /*padding: 0;*/
    /*margin-top: -50px;*/
    /*padding-top: 50px;*/
    /*border-right: 1px solid #ddd;*/
/*}*/

/*.sidebar-header {*/
    /*position: relative;*/
    /*padding: 15px;*/
    /*border-bottom: 1px solid #ddd;*/
/*}*/

/*.sidebar {*/
    /*height: 100%;*/
    /*position: relative;*/
    /*overflow-y: scroll;*/
/*}*/

.profile-picture {
    height: 50px;
    border: 0;
}

.caret-off::before {
    display: none;
}
.caret-off::after {
    display: none;
}
