body, html {
    height: 100%;
}

.profile-picture {
    height: 50px;
    border: 0;
}

#app-root {
    display: flex;
    flex-flow: column;
    height: 100%;
}

ul {
    list-style-type: none;
}

.channel-title {
    border-bottom: solid;
}
