.register-page {
	font-size: 14px;
}

.register-page .card-wrapper {
    width: 400px;
}

.register-page .card {
    margin-top: 100px;
    border-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
}

.register-page .card.fat {
    padding: 10px;
}

.register-page .form-control {
    border-width: 2.3px;
}

.register-page .form-control label {
    width: 100%;
}

.register-page .btn.btn-block {
    padding: 12px 10px;
}

.register-page .footer {
    margin: 40px 0;
    color: #888;
    text-align: center;
}